// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$gray_color:#8f8f8f;
$theme_color:#8D1CBA;
$secondary_color:#F5F4F9;

